body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#data-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
}

#data-container div {
  margin-bottom: 10px;
}

/* Table styles */
.table-container {
  width: 95%;
  border-collapse: collapse;
  margin: 20px auto;
  table-layout: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 40px;
}

.table th,
.table td {
  border: 1px solid #424242;
  text-align: center;
  padding: 8px;
  word-wrap: break-word;
  max-width: 500px; /* Set maximum width for cell content */
}

td:last-child {
  text-align: center;
}

table th {
  background-color: #424242;
  color: #f2f2f2f2;
}

/* Style the caption */
.table-caption {
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
